header h1 {
    display: flex;
    justify-content: center;
    font-family: "Lucida Grande";
    color: #D3D3D3;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 400%;
    /*padding-top: 5%;*/
}

#list {
  padding-left: 30%;
}

#list li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  display: inline;
  text-align: center;
  font-family: "Lucida Grande";
  color: #D3D3D3;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 150%;
  padding: 2%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: #D3D3D3;
}

a:hover {
  color: black;
}

p {
  display: flex;
  justify-content: center;
  font-family: "Lucida Grande";
  color: #D3D3D3;
  font-size: 150%;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

.contact {
  padding-left: 27%;
  margin-top: 10%;
  position: fixed;
}

#contact-items li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  /*flex-direction: row;*/
  display: inline;
  text-align: center;
  font-family: "Lucida Grande";
  color: #D3D3D3;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 90%;
  padding: 2%;
}
